[Unit]
Description=nawarun - NAWA App Daemon (App: %I)
After=syslog.target network.target

[Service]
Type=simple
ExecStart=nawarun "%I"
Restart=always

[Install]
WantedBy=multi-user.target